* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    font-family:'Tilt Warp', sans-serif;
    font-weight: 200;
}
.img_titulo {
    height: 2.5rem;
    width: auto; 
    margin-right: 10px; 
}


h1 {
    color: #232528;
    font-size: 2rem;
    
}
#highlight_titulo{
    color: #4392f1 ;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    background: linear-gradient(145deg, #333942, #1f2229);
    border-radius: 10px;
    padding: 20px 40px;
}
.inputs_conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}
.form_tarefas {
    display: flex;
    gap: 15px; 
    margin-top: 20px;
}

.input_tarefa {
    padding: 10px;
    font-size: 1rem;
    border: 2.5px solid #4392f1;
    border-radius: 10px;
    width: 350px; 
    
}

.btn_adicionar {
    padding: 8px 13px; 
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #4392f1;
    color: #ffffff;
    border: 2.5px solid #4392f1;
    border-radius: 8px;
}

