* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    color: #61dafb;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(97, 218, 251, 0.7);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #333942, #1f2229);
    box-shadow: 8px 8px 15px #1b1d22, -8px -8px 15px #353a44;
    border-radius: 10px;
    padding: 20px 40px;
}

.relogio {
    font-size: 4rem;
    color: #61dafb;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(97, 218, 251, 0.7);
}

.relogio span {
    display: inline-block;
    min-width: 40px;
    text-align: center;
}
