* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
    min-height: 100vh; 
    padding: 20px ;
}

header {
    text-align: center;
    margin-bottom: 10px; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
    padding-top: 70px;
}

header p {
    font-size: 0.85em;
    font-weight: 750; 
    color: #333;

}

main {
    background-color: #752ee8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: start;
    width: 400px;
    height: 525px;
    border-radius: 15px;
    box-sizing: border-box; 

}

#continuar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-bottom: 20px;
    text-align: center;
}

#login {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
    width: 85%;
    text-align: center;
}


#continuar h1, #login h1 {
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 600; 
    margin-bottom: 10px;
    margin-left: -30px;
}

.botao_continuar {
    background-color: #e3d5fa;
    color: #80798c;
    border: 0.3px solid #ffffff;
    border-radius: 8px;
    padding: 8.5px 10px;
    font-size: 0.75em; 
    font-weight: 700;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    max-width: 220px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.5s ease;
}

.botao_continuar:hover {
    background-color: #d3c5f0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dados {
    width: 100%;
    max-width: 220px;
    padding: 15px 10px;
    margin: 10px 0;
    border-radius: 8px;
    color: #ffffff;
    background-color: #482481;
    border: 1.5px solid #ffffff;
    font-size: 0.8em;
    font-weight: 500;
}

::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 1.18em;
    color: #dad3e5;
    padding-left: 10px;
    font-weight: 550;
}

#botao_entrar {
    background-color: #949494;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    font-family: "Inter", sans-serif;
    padding: 13px 20px;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    max-width: 220px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#botao_entrar:hover {
    background-color: #7a7a7a;

}

#img_incode {
    height: 60px;
}
.img_btn{
    height: 100%;
    max-height: 25px;
    margin-right: 15px;
}